:root {
  --max-width: 1280px;
  --trans: 0.3s linear;
  --accent-color: #cc8e1e;
  --main-color: #2b3f5b;
  --bg-color: #f6f5f2;
  --bg-card: #fff;
  --bg-btn: rgba(204, 142, 30, 0.1);
  --bg-carosel-btn: #f1efe9;
  --second-color: #000;
  --bg-head: #faf4e8;
}

:root:has(.switcher__input:checked) {
  --bg-color: #2b3f5b;
  --main-color: #f6f5f2;
  --bg-card: #000;
  --second-color: #fff;
  --bg-head: #111;
  --bg-carosel-btn: #222;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: all var(--trans);
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type="checkbox"] {
  display: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.section {
  margin-top: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-family: "Oranienbaum", serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Oranienbaum";
  font-size: 40px;
  line-height: 48px;
}

.section__subtitle {
  font-family: "Inter Display" sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* fonts */

@font-face {
  font-family: "Inter Display";
  src: url("../assets/fonts/InterVariable.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
